/*
	Put your custom CSS here.

	You may find these CSS3 properties useful:;
		transition
		-webkit-transform
		-webkit-transform-style
		-webkit-backface-visibility
*/
.front, .back {
	backface-visibility: hidden;
	tranform-style: preserve-3d;
	transition: transform 0.5s;
}

.back {
	transform: rotateY(180deg);
	position: relative;
}
.front {
	position: absolute;
}

.portfolio-item:hover .front {
	transform: rotateY(180deg);
}
.portfolio-item:hover .back {
	transform: rotateY(0deg);
}